<tr {{#if (eq this.Rating 0)}}class="highlight-zero"{{/if}}>
    <td>{{this.[Invoice ID]}}</td>
    <td>{{this.Branch}}</td>
    <td>{{this.City}}</td>
    <td>{{this.[Customer type]}}</td>
    <td>{{this.[Product line]}}</td>
    <td>{{this.name}}</td>
    <td>{{this.Rating}}</td>
</tr>
